@import "./variables.scss";

.delivery__wrapper {
  position: relative;
  display: flex;
  align-items: flex-end;
  box-sizing: border-box;
  width: 188px;
  height: 274px;
}

.delivery__container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 184px;
  height: 162px;
  background: $white;
  border-radius: 25px;
  padding-top: 88px;
  padding: 88px 12px 34px 26px;
}

.delivery__image {
  position: absolute;
  bottom: 48px;
  left: 5px;
  background: url("../assets/delivery.svg");
}

.delivery__title {
  box-sizing: border-box;
  font-weight: 800;
  font-size: 18px;
  line-height: 20px;
  margin: 0;
}

.delivery__text {
  font-weight: 700;
  font-size: 10px;
  line-height: 11px;
}

.delivery__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  img {
    cursor: pointer;
  }
}
