@import "./variables.scss";

label {
  display: flex;
  flex-direction: column;

  &:not(:last-child) {
    margin-bottom: 16px;
  }
}

input {
  box-sizing: border-box;
  padding: 16px 13px;
  width: 388px;
  height: 50px;
  background: $darkWhite;
  border-radius: 15px;
  border: none;

  &::placeholder {
    color: $lightBrown;
  }
  &:focus {
    outline: none;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px $darkWhite inset !important;
}
