@import "./variables.scss";

.item {
  &--description {
    position: relative;

    margin: 55px 0 0;

    padding: 55px 9px 12px 28px;
    max-width: 206px;
    max-height: 171px;
    border: 1px solid $paleRose;
    border-radius: 30px;

    &__text {
      h2 {
        font-weight: 800;
        font-size: 12px;
        line-height: 13px;
      }
      p {
        font-weight: 600;
        font-size: 10px;
        line-height: 18px;
        color: $gray;
      }
    }

    &--image {
      max-height: 120px;
      width: auto;

      &--container {
        position: absolute;
        top: -65px;
        width: auto;
      }
    }
    &--reaction {
      position: absolute;
      top: -40px;
      right: 0;
      width: 23px;
      height: 23px;
      border-radius: 50%;
      background: $bubblegumPink;

      div {
        background: url("../assets/flame.svg");
        display: block;
        margin: 4px auto;
        width: 15px;
        height: 15px;
      }

      &--active {
        position: absolute;
        top: -40px;
        right: 0;
        width: 23px;
        height: 23px;
        border-radius: 50%;
        background: #ffc10729;
        div {
          background: url("../assets/liked.svg");
          display: block;
          margin: 4px auto;
          width: 15px;
          height: 15px;
        }
      }
    }
    &--info {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      &__price {
        font-weight: 800;
        font-size: 14px;
        line-height: 18px;
      }

      &__button {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        border: 2px solid $black;
        background: $black;
        cursor: pointer;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        div {
          background: url("../assets/add.svg");
          width: 12px;
          height: 12px;
          position: absolute;
          top: 10px;
        }

        &--active {
          width: 32px;
          height: 32px;
          border-radius: 50%;
          border: 2px solid $black;
          background: transparent;
          cursor: auto;
          overflow: hidden;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          div {
            background: url("../assets/tick.svg");
            width: 12px;
            height: 12px;
            position: absolute;
            top: 10px;
          }
        }
      }
    }

    &--active {
      background: $paleRose;
      position: relative;
      margin: 55px 0 0;
      padding: 55px 9px 12px 28px;
      max-width: 206px;
      max-height: 171px;
      border: none;
      border-radius: 30px;
    }
  }
}
