@import "./variables.scss";

.items {
  &__filter {
    &--item {
      cursor: pointer;
      position: relative;
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      justify-content: end;

      box-sizing: border-box;
      padding: 20px;
      border-radius: 60px;
      width: 100px;
      height: 160px;
      background: $darkWhite;

      &:not(:last-child) {
        margin-right: 12px;
      }

      &--active {
        cursor: pointer;
        position: relative;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;

        box-sizing: border-box;
        padding: 20px;
        border-radius: 60px;
        width: 100px;
        height: 160px;

        &:not(:last-child) {
          margin-right: 12px;
        }
        box-shadow: 0px 4px 46px $lightBlack;
        background: $white;
        transition: box-shadow 0.3s ease, background 0.3s ease;
      }
    }
  }
}

.burger__image {
  transform: translate(0px, 10px);
}

.salad__image {
  transform: translate(0px, 15px);
}

.donut__image {
  transform: translate(0px, 10px);
}
