@import "./variables.scss";

.icon-home {
  stroke: $slateGray;
}

.menu {
  width: 185px;
  background: $lightBlue;
  &__list {
    padding: 0;
    margin: 27px 0 13px;
  }
  &__item {
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 15px;

    &--active {
      background: $brightRed;

      .menu {
        &__icon {
          background: $tomato;

          &__title {
            color: $white;
          }
        }

        &__title {
          color: $white;
        }
      }

      .icon-home {
        stroke: $white;
      }
      .icon-menu,
      .icon-trending,
      .icon-setting {
        fill: $white;
      }
    }

    &:not(:last-child) {
      margin-bottom: 45px;
    }
  }

  &__title {
    color: $slateGray;
  }

  &__icon {
    margin-right: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 44px;
    background: $white;
    border-radius: 15px;
  }
}
