$white: #fff;
$darkWhite: #f3f3f3;
$lightYellow: #fff8d5;
$brightRed: #ff5454;
$red: #ff0000;
$tomato: #df4545;
$purple: #ab97f3;
$lightGray: #f5f6f7;
$blue: #2d9cdb;
$gray: #898686;
$slateGray: #909090;
$lightYellow2: #fff0a5;
$lightBrown: #cc9696;
$semiBlack: rgba(0, 0, 0, 0.2);
$lightBlack: rgba(0, 0, 0, 0.1);
$lightBlue: #deebfb;
$black: #000000;
$paleRose: #f2eeee;
$bubblegumPink: #ffd1d1;
$amberBlaze: #ffc10729;
